@import 'vars';
@import 'global';
@import 'fonts';


// start header
.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        height: 90px;
        align-items: center;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__text {
        color: #546e7a;
        font-size: 15px;
    }
    &__link {
        color: $red;
    }
    &__tel {
        color: inherit;
    }
    &__buttons {
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    &__btn {
        padding: 10px 0 9px;
        width: 72px;
        color: #fff;
        background-color: $green;
        text-align: center;
        border-radius: 5px;
    }
    &__bottom-row {
        background-color: $dark-bg;
    }
    &__circle {
        display: none;
        &.active {
            display: block;
        }
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #f5f5f5;
        position: relative;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
            color: #a0a0a0;
            transition: all .5s;
        }
        & + .header__circle {
            margin-left: 15px;
        }
        span {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            position: absolute;
            right: -7px;
            top: -7px;
            color: #fff;
            font-size: 11px;
            text-align: center;
            line-height: 18px;
        }
    }
}

.register-btn {
    margin-left: 7px;
}

.register-btn,
.logout-btn {
    background-color: $red;
}

.header__btn--off {
    display: none !important;
}

.logout-btn {
    display: none;
    &.header__btn--on {
        display: block;
    }
}

.notification {
    span {
        background-color: #fcb322;
    }
}

.message {
    span {
        background-color: #ef6c00;
    }
}

.basket {
    span {
        background-color: #95c85a;
    }
}

.basket-box {
    margin-left: 15px;
    margin-right: 20px;
    &__menu {
        position: absolute;
        background-color: #fff;
        top: 90px;
        right: -14px;
        width: 268px;
        border: 1px solid #cccccc;
        transform-origin: (0 0);
        transform: scaleY(0);
        transition: all .5s;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 20px 23px 23px;
        border-bottom: 1px solid #e0e0e0;
    }
    &__img {
        width: 73px;
        margin-right: 15px;
    }
    &__info {
        line-height: 20px;
    }
    &__name {
        color: $dark-bg;
        font-weight: 500;
        font-size: 15px;
    }
    &__theme {
        font-size: 12px;
        color: $green;
    }
    &__price {
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    &__summ {
        padding: 17px;
        padding-bottom: 13px;
    }
    &__summ-info {
        display: flex;
        justify-content: space-between;
        margin: 0 23px 17px 12px;
        font-size: 16px;
        font-weight: 700;
        color: $dark-bg;
    }
    &__buttons {
        display: flex;
    }
    &__btn {
        padding: 12px 5px 13px;
        display: block;
        color: #f4f6f5;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    &__cart-btn {
        width: 105px;
        background-color: $green;
    }
    &__checkout-btn {
        width: 123px;
        background-color: $red;
        margin-left: 6px;
    }
}

.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before {
        content: '\f107';
        font-family: 'icomoon';
        position: absolute;
        right: 0;
        top: 0;
        color: #707070;
        font-size: 16px;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__img {
        height: 34px;
        width: 34px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 14px;    
        img {
            max-width: 100%;
        }
    }
    &__info {
        font-size: 14px;
    }
    &__name {
        font-weight: 500;
        margin-bottom: 2px;
        color: #222;
    }
    &__money {
        font-weight: 700;
        color: $green;
    }
}

.user-box,
.basket-box,
.drop-down {
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    z-index: 2;
    &:hover {
        .user__menu,
        .basket-box__menu {
            transform: scaleY(1);
        }
        .header__circle::before {
            color: $dark-bg;
        }
    }
}

.user {
    &__menu {
        position: absolute;
        top: 90px;
        right: 15px;
        padding: 20px;
        padding-bottom: 5px;
        background-color: #fff;
        border: 1px solid #cccccc;
        width: 158px;
        transition: all .5s;
        transform: scaleY(0);
        transform-origin: (0 0);
        &-item {
            margin-bottom: 20px;
        }
        &-link {
            font-size: 12px;
            color: #546e7a;
        }
    }
}

.message-box {
    margin-left: 15px;
}
.drop-down {
    margin-left: 15px;
    &:hover {
        .drop-down__menu {
            transform: scaleY(1);
        }
    }
    &__menu {
        position: absolute;
        right: -4px;
        top: 90px;
        padding: 5px 0 9px;
        background-color: #fff;
        width: 268px;
        border: 1px solid #cccccc;
        transform: scaleY(0);
        transform-origin: (0 0);
        transition: all .5s;
    }
    &__menu-item {
        padding: 20px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        position: relative;
        &:hover {
            .drop-down__icon {
                color: $red;
            }
        }
        & + .drop-down__menu-item {
            border-top: 1px solid #e0e0e0;
        }
    }
    &__menu-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }
    &__info {
        line-height: 18px;
    }
    &__name {
        color: $dark-bg;
        font-weight: 700;
        font-size: 12px;

    }
    &__message {
        font-size: 11px;
        color: $green;
    }
    &__data {
        font-size: 10px;
        color: #707070;
    }
    &__icon {
        position: absolute;
        right: 30px;
        top: 23px;
        font-size: 16px;
        color: #b0bec5;
        transition: all .3s;
    }
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
    &__list {
        display: flex;
    }
    &__item + &__item {
        margin-left: 35px;
    }
    &__link {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
}

.menu__btn {
    display: none;
    width: 30px;
    div {
        background-color: #fff;
        width: 100%;
        height: 3px;
        & + div {
            margin-top: 5px;
        }
    }
}

.user-btn {
    display: none;
}

// end header

//start login
.login {
    display: none;
    background-color: $green;
    max-width: 729px;
    width: 100%;
    padding: 92px 10px 110px;
    position: relative;
    svg {
        path {
            fill: transparent;
        }
    }
    &::before {
        content:'\f00d';
        font-family: 'icomoon';
        color: #fff;
        font-size: 18px;
        position: absolute;
        top: 21px;
        right: 27px;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }
    &__form {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    &__label {
        position: relative;
        &::before {
            content: '\f007';
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 18px;
            bottom: 1px;
        }
        & + label {
            &::before {
                content: '\f023';
            }
        }
    }
    &__input {
        width: 100%;
        height: 43px;
        padding-left: 40px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-size: 14px;
        &::placeholder {
            color: #fff;
            font-size: 14px;
        }
    }
    &__btn {
        box-shadow: 0 2px 2px rgba(118, 174, 54, 0.75);
        background-color: #fff;
        width: 140px;
        padding: 18px 0 16px;
        border: none;
        text-transform: uppercase;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        margin-top: 19px;
        text-align: center;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
    }
    &__create-link {
        padding: 15px 0 17px 65px;
        margin-top: 19px;
        width: 246px;
        background-color: #76ae36;
        color: #fff;
        font-size: 18px;
        position: relative;
        &::before {
            position: absolute;
            content: '\f044';
            font-family: 'icomoon';
            font-size: 18px;
            color: #fff;
            left: 36px;
            top: 16px;
        }
    }
    &__lost-link {
        display: block;
        color: #fff;
        margin-top: 27px;
        font-size: 18px;
    }
}

//end login

// start search
.search {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 532px;
    &__inner {
        color: #fff;
        text-align: center;
        padding: 156px 0 50px;
    }
    &__title {
        margin-bottom: 28px;
        font-weight: 700;
        font-size: 48px;
    }
    &__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &__form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            width: 100%;
            height: 56px;
            box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
            border: none;
            border-radius: 4px;
            background-color: #fff;
            color: #90a4ae;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.7px;
            padding: 0 60px 0 25px;
            &::placeholder {
                color: #90a4ae;
                font-weight: 500;
                font-family: Roboto;
                font-size: 14px;
                letter-spacing: 0.7px;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            background: transparent;
            border: none;
            height: 56px;
            width: 60px;
        }
    }
}

// end search
// start products
.products {
    padding: 110px 0 112px;
    background-color: $gray;
    &__buttons {
        text-align: center;
        margin-bottom: 44px;
        button {
            padding: 13px 21px;
            background-color: #fff;
            color: $dark-bg;
            font-size: 14px;
            cursor: pointer;
            font-weight: 500;
            border: none;
            &.mixitup-control-active {
                background-color: $red;
                color: #fff;
            }
            & + button {
                margin-left: 5px;
            }
        }
    }
    &__bottom-buttons {
        text-align: center;
        margin-top: 48px;
        button {
            font-size: 16px;
            color: $dark-bg;
            padding: 20px 30px;
            box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
            background-color: #fff;
            border: none;
            cursor: pointer;
            &.mixitup-control-active {
                background-color: $red;
                color: #fff;
            }
            & + button {
                margin-left: 10px;
            }
        }
    }
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.card {
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    margin: 15px;
    transition: all .3s;
    &:hover {
        box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    }
    &__img {
        display: block;
        min-height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__info {
        min-height: 90px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #e7ecf2;
    }
    &__text {
        display: flex;
        flex-direction: column;
        max-width: 310px;
    }
    &__title {
        color: $dark-bg;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__category {
        color: $green;
        font-size: 14px;
        font-weight: 500;

    }
    &__price {
        font-weight: 700;
        font-size: 20px;
        color: $dark-bg;
    }
    &__footer {
        min-height: 70px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    &__author {
        color: #546e7a;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        max-width: 250px;
    }
    &__avatar {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 13px;
    }
    &__rate {
        font-size: 12px;
        color: #b0bec5;
        display: flex;
        align-items: center;
        span {
            color: #263238;
        }
    }
}

.rate-star {
    margin-right: 10px;
}

// end products
//start trends 
.trends {
    padding: 120px 0;
    &__title {
        margin-bottom: 55px;
    }
    &__slider {
        margin: 0 -15px;
        .slick-dots {
            text-align: center;
            li {
                display: inline-block;
                & + li {
                    margin-left: 7px;
                }
                button {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    font-size: 0;
                    background-image: url(../images/icons/dot.png);
                    border: none;
                    cursor: pointer;
                }   
            }
            .slick-active {
                button {
                    background-image: none;
                    background-color: #8bc34a;
                }
            }
        }
    }
    &__slider-item {
        margin: 0 15px 67px;
    }
}

//end trends
//start advantages
.advantages {
    background-color: $dark-bg;
    padding: 120px 0 115px;
    &__title {
        color: #fff;
        margin-bottom: 80px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.pros-item {
    text-align: center;
    max-width: 320px;
    &:hover {
        .pros-item__img {
            background: $green;
            g {
                fill: #fff;
            }
        }
        .pros-item__title {
            color: $green;
        }
    }
    &__img {
        width: 113px;
        height: 113px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        color: red;
        transition: all .3s;
        g {
            transition: all .3s;
        }
    }
    &__title {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 23px;
        transition: all .3s;
    }
    &__text {
        color: #b0bec5;
        font-size: 15px;
        line-height: 24px;
    }
}

//end advantsges
//start author
.author {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 760px;    
    &__box {
        background-color: $green;
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
    }
    &__title {
        color: #ffffff;
        font-size: 30px;
        line-height: 36px;
        max-width: 265px;
        margin-right: 40px;
        span {
            font-weight: 700;
        }
    }
    &__link {
        font-size: 18px;
        color: #263238;
        padding: 25px 40px;
        background-color: #fff;
    }
}

//end author
//start tutorial
.tutorial {
    padding: 66px 0 120px;
    &__title {
        margin-bottom: 57px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
    }
    &__item-img {
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__item-title {
        background-color: #f8f8f8;
        color: $dark-bg;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding: 35px 10px;
    }
}

//end tutorial
//start footer 
.footer {
    background-color: $dark-bg;
    &__top-row {
        padding: 115px 0 90px;
        border-bottom: 1px solid #424d53;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__col-title {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 22px;
        color: #fff;
        padding-bottom: 25px;
        margin-bottom: 27px;
        position: relative;
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 50px;
            background-color: $green;
            position: absolute;
            bottom: 0;
            left: 1px;
        }
    }
    &__col-text {
        color: #b7c3c8;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 36px;
    }
    &__adress {
        line-height: 24px;
        font-weight: 500;
        color: #fff;
        padding-left: 30px;
        position: relative;
        &::before {
            content: '\f041';
            font-family: 'icomoon';
            font-size: 18px;
            color: $green;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__map {
        margin-bottom: 25px;
    }
    &__tel {
        &::before {
            content: '\f095';
        }
    }
    &__list-item {  
        & + li {
            margin-top: 20px; 
        }
    }
    &__list-link {
        color: #b7c3c8;
        font-size: 15px;
        padding-left: 20px;
        position: relative;
        &::before {
            content: '\f105';
            font-family: 'icomoon';
            font-size: 18px;
            color: $green;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    &__social {
        margin-bottom: 40px;
    }
    &__social-item {
        display: inline-block;
        & + li {
            margin-left: 8px;
        }
    }
    &__social-link {
        background: url(../images/icons/social.png);
        width: 28px;
        height: 28px;
    }
    &__subscribe-title {
        font-size: 20px;
        color: #fff;
        margin-bottom: 15px;
    }
    &__form {
        position: relative;
    }
    &__form-input {
        background-color: #2f3c43;
        border: 1px solid #232e34;
        box-shadow: 1px 1px 1px #000 inset;
        width: 100%;
        height: 40px;
        padding: 0 50px 0 16px;
        color: #fff;
        &::placeholder {
            color: #697378;
        }
    }
    &__form-btn {
        position: absolute;
        right: 1px;
        top: 1px;
        background-color: $green;
        height: 38px;
        width: 40px;
        border: none;
        cursor: pointer;
        &::before {
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            font-size: 17px;
            color: #fff;
            position: absolute;
            top: 10px;
            left: 12px;
        }
    }
    &__bottom-row {
        padding: 25px 0 32px;
    }
    &__copy {
        color: #919699;
        font-size: 15px;
        text-align: center;
    }
}
.col-about {
    max-width: 270px;
}
.col-menu {
    width: 220px;
}
.col-follow {
    width: 260px;
}

.twitter {
    background-position: -28px -0;
}
.youtube {
    background-position: -0 -28px;
}
.pinterest {
    background-position: -28px -28px;
}
.linkedin {
    background-position: -56px -0;
}

//end footer 

//start search-field 
.search-field {
    padding: 62px 0 68px;
    background: url(../images/backgrounds/search-bg.jpg) no-repeat center / cover;
    &__title {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin-bottom: 24px;
    }
}

//end search field
//start breadcrumbs
.breadcrumbs {
    padding: 50px 0;
    &__list {
        display: flex;
    }
    &__item {
        font-size: 15px;
        position: relative;
        & + li {
            padding-left: 22px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                width: 6px;
                background-color: $green;
                left: 8px;
                top: 8px;
            }
        }
        span {
            color: $dark-bg;
        }
    }
    &__link {
        color: #b0bec5;
    }
}

//end breadcrumbs
//start product page 

//start product
.product {
    padding-bottom: 123px;
    &__inner {
        display: flex;
    }
    &__content {
        margin-right: 30px;
        max-width: 870px;
    }
    &__img-wrapper {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #d7d7d7;
        margin-bottom: 39px;
    }
    &__img {
        max-width: 829px;
        height: 422px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__title {
        font-size: 30px;
        font-weight: 500;
        color: $dark-bg;
        line-height: 40px;
        margin-bottom: 25px;
    }
    &__text {
        color: #707070;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 45px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
    }
    &__links {
        display: flex;
    }
    &__link {
        display: block;
        height: 50px;
        color: #f4f6f5;
        font-size: 16px;
        font-weight: 500;
        padding: 0 25px;
        line-height: 50px;
        & + a {
            margin-left: 18px;
        }
    }
    &__link--live {
        background-color: #e74c3c;
    }
    &__link--screen {
        background-color: #455a64; 
        padding: 0 34px;
    }
    &__link--doc {
        background-color: #8bc34a;
    }
    &__social-list {
        display: flex;
    }
    &__social-item {
        & + li {
            margin-left: 3px;
        }
    }
    &__social-link {
        position: relative;
        width: 54px;
        height: 50px;
        &::before {
            content: '';
            font-family: 'icomoon';
            font-size: 18px;
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__aside {
        max-width: 270px;
        width: 100%;
    }
}
.product-fb {
    background-color: #6370b6;
    &::before {
        content: '\ea90';
    }
}
.product-twitt {
    background-color: #64b5f6;
    &::before {
        content: '\ea96';
    }
}
.product-in {
    background-color: #4f71ce;
    &::before {
        content: '\eaca';
    }
}
.product-pin {
    background-color: #d32f2f;
    &::before {
        content: '\f231';
    }
}
.info-tabs {
    border: 1px solid #d7d7d7;
    margin-bottom: 52px;
}
.tabs {
    display: flex;
    text-align: center;
    .tab {
        width: 100%;
        padding: 24px 0;
        background-color: #fff;
        border-bottom: 1px solid #d7d7d7;
        color: #78909c;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        & + .tab {
            border-left: 1px solid #d7d7d7;
        }
    }
}
.tab_content {
    padding: 35px 36px 65px;
    background-color: #fff;
    .tab-item {
        display: none;
        &:first-child {
            display: block;
        }
    }
}
.tab-item__list {
    column-count: 2;
    li {
        color: #707070;
        font-size: 16px;
        line-height: 36px;
    }
}
.more {
    &__title {
        color: $dark-bg;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        background: #fff;
        padding: 17px 28px;
        border: 1px solid #d7d7d7;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-top: 28px;
        box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
        background-color: #ffffff;
        width: 270px;
        height: 90px;
    }
    &__img {
        width: 100px;
        height: 90px;
        margin-right: 21px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__info {
        line-height: 22px;
    }
    &__name {
        color: $dark-bg;
        font-size: 14px;
        font-weight: 500;
    }
    &__theme {
        font-size: 12px;
        color: $green;
    }
    &__price {
        font-size: 18px;
        font-weight: 700;
        color: $dark-bg;
    }
}

.aside__item {
    background-color: #fff;
    padding: 30px;
    padding-top: 25px;
    border: 1px solid #d7d7d7;
    & + .aside__item {
        margin-top: 30px;
    }
}
.aside__title {
    font-size: 20px;
    font-weight: 700;
    color: $dark-bg;
    padding-bottom: 23px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
}
.aside-price {
    &__btn {
        width: 208px;
        height: 48px;
        border: none;
        line-height: 48px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
        cursor: pointer;
        position: relative;
        & + & {
            margin-top: 8px;
        }
    }
}
.price-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &__value {
        color: $red;
        font-size: 22px;
        font-weight: 500;
    }
}
.cart-btn {
    background-color: $green;
    padding-left: 15px;
    &::before {
        content: '\f07a';
        font-family: 'icomoon';
        font-size: 16px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 46px;
        font-weight: 400;
    }
}
.favor-btn {
    background-color: #42a5f5;
    padding-left: 15px;
    &::before {
        content: '\f08a';
        font-family: 'icomoon';
        font-size: 16px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 24px;
        font-weight: 400;
    }
}
.buy-btn {
    background-color: #546e7a;
}
.author-box {
    display: flex;
    margin-bottom: 23px;
    &__img {
        width: 73px;
        height: 63px;
        margin-right: 14px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__name {
        color: $dark-bg;
        font-size: 18px;
    }
    &__link {
        display: block;
        color: #707070;
        font-size: 13px;
        border: 1px solid #cccccc;
        padding: 7px 12px;
    }
}
.author-awards {
    display: flex;
    justify-content: space-between;
    &__item {
        width: 34px;
        height: 37px;
        position: relative;
        &::before {
            position: absolute;
            top: 7px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 19px;
            color: #fff;
        }
    }
    .icon-meh-o {
        background-image: url(../images/icons/award-orange.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .icon-pagelines {
        background-image: url(../images/icons/award-red.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .icon-bolt {
        background-image: url(../images/icons/award-blue.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .icon-foursquare {
        background-image: url(../images/icons/award-green.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .icon-yen {
        background-image: url(../images/icons/award-gray.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.aside-sale {
    position: relative;
    padding: 20px 30px;
    &::before {
        position: absolute;
        content: '\f07a';
        font-family: 'icomoon';
        color: #a6b5bb;
        font-size: 20px;
        top: 24px;
        left: 28px;
    }
    &__sales {
        color: #707070;
        font-size: 16px;
        span {
            color: $dark-bg;
            font-weight: 700;
            font-size: 20px;
            margin-right: 14px;
            margin-left: 35px;
        }
    }
}
.info-line {
    color: #70838d;
    & + & {
        margin-top: 18px;
    }
    span {
        color: $dark-bg;
        font-weight: 500;
    }
}
.mr-for-browsers {
    margin-top: 7px;
}

//end product
//end product page

//start page-404
.page-404,
.about-page,
.contact-page {
    padding-bottom: 150px;
}
.page-404__banner,
.about-page__banner,
.contact-page__banner {
    border: 1px solid #d7d7d7;
}

.page-404__header,
.about-page__header,
.contact-page__header {
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
    color: #444444;
    font-weight: 500;
    font-size: 24px;
    padding: 25px 29px;
}
.page-404 {
    &__body {
        background-color: $green;
        text-align: center;
        padding: 70px 100px;
    }
    &__error {
        color: #fffefe;
        font-family: 'Open Sans', sans-serif;
        font-size: 300px;
        font-weight: 800;
        margin-bottom: 5px;
        position: relative;
        padding-right: 158px;
        &::after {
            position: absolute;
            content: '';
            display: block;
            background: url(../images/image404.png) no-repeat center / cover;
            width: 150px;
            height: 292px;
            right: 130px;
            top: 25px;
        }
    }
    &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 6px;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 33px;
    }
    &__text {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        max-width: 530px;
        margin: 0 auto 55px;
    }
    &__link {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1.4px;
        padding: 18px 32px;
        border: 2px solid #ffffff;
        border-radius: 5px;
    }
}


//end page-404
//start about-page
.about-page {
    &__body {
        background-color: #fff;
        padding: 44px 66px 53px 51px;
    }
    &__box {
        & + & {
            margin-top: 50px;
        }
    }
    &__title {
        color: #444444;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__text {
        color: #707070;
        line-height: 24px;
    }
}

//end about-page
//start contact-page 
.contact-page {
    &__header {
        padding-left: 40px;
    }
    &__body {
        padding: 33px 40px 15px;
        background-color: #fff;
    }
    &__map {
        margin-bottom: 60px;
        iframe {
            width: 100%;
            height: 414px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__details {
        max-width: 280px;
        width: 100%;
        padding-left: 30px;
    }
    &__box {
        & + & {
            margin-top: 38px;
        }
    }
    &__title {
        color: $dark-bg;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 24px;
        position: relative;
        font-family: 'Roboto', sans-serif !important;
        margin-bottom: 25px;
        &::before {
            font-family: 'icomoon';
            position: absolute;
            left: -30px;
            top: 0;
            font-size: 24px;
            color: $green;
            font-weight: 400;
        }
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 44px;
            height: 4px;
            background-color: $green;
            bottom: 0;
            left: 0;
        }
    }
    &__text {
        color: #707070;
        line-height: 24px;
    }
    &__form {
        max-width: 726px;
        width: 100%;
    }
    &__form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
    }
    &__form-input {
        height: 43px;
        width: 350px;
        border: none;
        background-color: #f1f4f5;
        padding: 0 17px;
        color: #7a7a7a;
        &::placeholder {
            color: #7a7a7a;
            font-size: 14px;
        }
    }
    &__form-area {
        width: 100%;
        height: 193px;
        border: none;
        background-color: #f1f4f5;
        padding: 16px 17px;
        color: #7a7a7a;
        resize: none;
        margin-bottom: 22px;
        &::placeholder {
            color: #7a7a7a;
            font-size: 14px;
        }
    }
    &__form-btn {
        display: block;
        width: 190px;
        padding: 18px 0;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        background-color: $green;
        font-size: 16px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }
}
.contact-page__form__title {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 23px;
}

//end contact-page

@import 'media';
